body {
  margin: 0;
  font-family: 'Space Mono', monospace;
}

#container {
  position: relative;
}

#vue-subjective {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

#bouton-retour {
  position: absolute;
  top: 5vh;
  left: 5%;
}

.bouton {
  padding: 10px 15px;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  background-color: yellow;
  font-family: 'Space Mono', monospace;
}

#bouton-photos {
  position: absolute;
  top: 80vh;
  left: 30%;
}

#bouton-fiche {
  position: absolute;
  top: 80vh;
  right: 50%;
}

#bouton-defi {
  position: absolute;
  top: 80vh;
  right: 35%;
}
