body {
  margin: 0;
}

#modele-3d {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

#images-techniques {
  position: absolute;
  top: 50%;
  left:0;
  right: 0;
  bottom: 0;
}

.container-images {
  display: flex;
  justify-content: space-around;
}

#images-techniques img {
}
