#bouton_demarrer {
  padding: 20px 0;
}

#caroussel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 20s;
}

#caroussel.gauche {
  left: -2000px;
}

#caroussel img {
  float: left;
}



