body { 
  margin: 0px;
}

#bouton_demarrer {
  padding: 20px 0;
}

nav {
  padding: 5px;
  width: 100%;
  height: 50px;
}

#container-caroussel {
  position: relative;
  width: 100%;
}

#caroussel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

#caroussel.gauche {
  left: -2000px;
}

#caroussel img {
  float: left;
  height: calc(100vh - 50px);
}



